[submodule "frontend"]
	path = frontend
	url = https://github.com/c0sogi/LLMChat-frontend
[submodule "repositories/llama_cpp"]
	path = repositories/llama_cpp
	url = https://github.com/abetlen/llama-cpp-python
[submodule "repositories/exllama"]
	path = repositories/exllama
	url = https://github.com/turboderp/exllama
